.bodyHeader{
    display: flex;
    padding-left: 10vw;
}

.right-itens{
    display: flex;
    padding-left:6vw;
}

.notification-icon{
    height:5vh;
    padding-top: 1vh;
}

.user-iformation{
    display: flex;
    padding-left:3vw;
    font-size:1.2vw;
}

.user-img{
    border-radius: 50%;
    height:6vh;
}

.user-name{
    padding-top: 1.5vh;
    padding-left:1vw;
    font-weight: bold;
}