.bodySearchBar{
    
    border:solid 1px #D9D9D9;
    border-radius:15px;
    width:35vw;
    height:7vh;
  }
  
  .input-search-bar{
    float:left;
    background-color:transparent;
    padding-left:2.5vw;
    padding-top: 2vh;
    font-style:italic;
    font-size:1.4vw;
    border:none;
    width:30vw;    
  }
  .input-search-bar::placeholder{
    color:#D9D9D9
  }
  .input-search-bar:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
 }
  
  .search-button{
    width: 2vw;
    
    padding-top: 1.5vh;
    
  }